[Desktop Entry]
Name=OpenBOR
Comment=OpenBOR Engine r6391
Exec=./ob.dge
Terminal=true
Type=Application
StartupNotify=true
Icon=openbor
Categories=games
X-OD-Manual=readme.retrofw.txt
X-OD-NeedsDownscaling=true

